@using Attendance.Core.Enums
<nav class="nav-primary hidden-xs">

	@if (User.Identity.IsAuthenticated)
	{
		var identity = (System.Security.Claims.ClaimsIdentity)User.Identity;
		string role = identity.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
		if (role == "SuperAdmin" || role == "Admin")
		{
    <ul class="nav">
        <li id="sliderLi" class="menuitem">
            <a href="" onclick="window.history.go(-1); return false;">
                <i class="fa fa-2x fa-arrow-circle-o-right icon"><b class="bg-info"></b></i><span>بازگشت</span>
            </a>
        </li>
        <li id="sliderLi" class="menuitem">
            <a href="/Drivers">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>مدیریت رانندگان</span>
            </a>
        </li>
        <li id="sliderLi1" class="menuitem">
            <a href="/cards">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>مدیریت کارت ها</span>
            </a>
        </li> 
        <li id="sliderLi1" class="menuitem">
            <a href="/CardGroups">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>مدیریت دسته ها</span>
            </a>
        </li> 
        <li id="sliderLi1" class="menuitem">
            <a href="/cartypes">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>مدیریت نوع ماشین</span>
            </a>
        </li>
        <li id="sliderLi1" class="menuitem">
            <a href="/cars">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>مدیریت ماشین</span>
            </a>
        </li>
        <li id="sliderLi3" class="menuitem">
            <a href="/Cards/Authenticate">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>کنترل ورود و خروج</span>
            </a>
        </li>
        <li id="sliderLi2" class="menuitem">
            <a href="/CardLoginHistories">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>تاریخچه ورود رانندگان</span>
            </a>
        </li>
        @if (role == SecurityRole.SuperAdmin)
        { 
            <li id="sliderLi2" class="menuitem">
                <a href="/CardLoginHistories/Hidden">
                    <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>تاریخچه ورود رانندگان(مخفی)</span>
                </a>
            </li>
        }
        <li id="sliderLi2" class="menuitem">
            <a href="/users">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>مدیریت کاربران</span>
            </a>
        </li>
        <li id="sliderLi2" class="menuitem">
            <a href="/CardLoginHistories/IndexNotExit">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>ورود و خروج پیاده</span>
            </a>
        </li>
        <li id="sliderLi2" class="menuitem">
            <a href="/configs">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>تنظیمات کلی سیستم</span>
            </a>
        </li>
        @*<li id="sliderLi2" class="menuitem">
            <a href="/penalties/create">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>توقیف</span>
            </a>
        </li>
        <li id="sliderLi2" class="menuitem">
            <a href="/penalties">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>رفع توقیف</span>
            </a>
        </li>*@
    </ul>
        }
        if (role == SecurityRole.Monitoring)
        {
<ul class="nav">
    <li id="sliderLi" class="menuitem">
        <a href="" onclick="window.history.go(-1); return false;">
            <i class="fa fa-2x fa-arrow-circle-o-right icon"><b class="bg-info"></b></i><span>بازگشت</span>
        </a>
    </li>
    <li id="sliderLi" class="menuitem">
        <a href="/Drivers">
            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>مدیریت رانندگان</span>
        </a>
    </li>  
    <li id="sliderLi1" class="menuitem">
        <a href="/cars">
            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>مدیریت ماشین</span>
        </a>
    </li>
    <li id="sliderLi3" class="menuitem">
        <a href="/Cards/Authenticate">
            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>کنترل ورود و خروج</span>
        </a>
    </li> 
    <li id="sliderLi2" class="menuitem">
        <a href="/CardLoginHistories/IndexNotExit">
            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>ورود و خروج پیاده</span>
        </a>
    </li> 
    <li id="sliderLi2" class="menuitem">
        <a href="/penalties/create">
            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>توقیف</span>
        </a>
    </li>
    <li id="sliderLi2" class="menuitem">
        <a href="/penalties">
            <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>رفع توقیف</span>
        </a>
    </li>
</ul>
        }
        if (role == "User")
        {
			<ul class="nav">
				 
				<li id="sliderLi3" class="menuitem">
					<a href="/Cards/Authenticate">
						<i class="fa fa-bars icon"><b class="bg-info"></b></i><span>کنترل ورود و خروج</span>
					</a>
				</li>
		 
				<li id="sliderLi2" class="menuitem">
					<a href="/CardLoginHistories/IndexNotExit">
						<i class="fa fa-bars icon"><b class="bg-info"></b></i><span>ورود و خروج پیاده</span>
					</a>
				</li>
			
			</ul>
		}
	}




</nav>
