<nav class="nav-primary hidden-xs">

	<ul class="nav">
        <li id="sliderLi" class="menuitem">
            <a href="/Drivers">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>مدیریت رانندگان</span>
            </a>
        </li>
        <li id="sliderLi" class="menuitem">
            <a href="/cards">
                <i class="fa fa-bars icon"><b class="bg-info"></b></i><span>مدیریت کارت ها</span>
            </a>
        </li>
	</ul>

</nav>
