
@{
    ViewBag.Title = "بارگذاری فایل اکسل رانندگان";
    Layout = "~/Views/Shared/BackEndLayout/_BackEndLayout.cshtml";
}
 
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">بارگذاری فایل اکسل رانندگان</div>
        <div class="panel-body">
            <div class="form-group">
                <div class="form-group">
                    @Html.Label("آپلود فایل اکسل", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <p><a download="/Files/drivers.xlsx" href="/Files/drivers.xlsx">برای دانلود قالب کلیک کنید</a></p>
                        <form action="/drivers/ImportExcel" enctype="multipart/form-data" method="post">
                            <input id="upFile" name="upFile" type="file" class="k-file" />
                            <input class="btn btn-success" value="ثبت" type="submit" />
                            
                            <div class="alert alert-danger">
	                            @TempData["error"]
                            </div>
                            
                            <p class="alert alert-info">
	                            ستون اول: نام
                              <br/>
	                            ستون دوم: نام خانوادگی
	                            <br/>

	                            ستون سوم: شماره تماس
	                            <br/>

	                            ستون چهارم: کد ملی (حتما 10 کاراکتر باشد)
	                            <br/>

                              ستون چهارم: تاریخ تولد: در صورت عدم وجود 0 قرار گیرد.

                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>