@font-face {
    font-family: 'IRANSansWeb';
    src: local('../fonts/IranSans/IRANSansWebFaNum.woff2') format('woff2'), local('../fonts/IranSans/IRANSansWeb_Bold.woff2') format('woff2'), local('../fonts/IranSans/IRANSansWeb_Light.woff2') format('woff2'), local('../fonts/IranSans/IRANSansWeb_Medium.woff2') format('woff2'), local('font/IranSans/woff2/IRANSansWeb_UltraLight.woff2') format('woff2');
}

*{
    font-family:IRANSansWeb;
}
a, h1, h2, h3, h4, h5, h6, p, li, u, ul, small, bold {
    font-family: IRANSansWeb;
}
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: IRANSansWeb
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: IRANSansWeb
}
* {
    font-family: IRANSansWeb
}*/
/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}

ul {
    list-style-type: none;
}*/